<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_admin.username %></h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/admins/new', method: :get%>
<%= button_to "Log out", '/logout', method: :post%>