<div class="row">
	<div class="col-md-12">
		<h1>Welcome</h1>
	<div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-6">
		<%= button_to "Login", '/login', method: :get%>
	</div>
	<div class="col-md-6">
		<%= button_to "Sign Up", '/admins/new', method: :get%>
	</div>
<div>
