<div>
  <div>
    <h1>Welcome</h1>
  <div>
</div>
<br>
<br>
<div>
  <div>
    <%= button_to "Login", '/login', method: :get%>
  </div>
  <div>
    <%= button_to "Sign Up", '/admins/new', method: :get%>
  </div>
<div>